<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissões para acesso ao armazenamento externo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StardewValley"
        tools:targetApi="31">
        <activity
            android:name=".view.lojaView.Compra.HistoricoComprasAdapter"
            android:exported="false" />
        <activity
            android:name=".view.lojaView.Compra.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".view.lojaView.Compra.HistoricoComprasActivity"
            android:exported="false" />
        <activity
            android:name=".view.perfil.AddSeedCityActivity"
            android:exported="false" />
        <activity
            android:name=".view.perfil.InsertSeedCityActivity"
            android:exported="false" />
        <activity
            android:name=".view.perfil.InserirSeedCityActivity"
            android:exported="false" />
        <activity
            android:name=".view.perfil.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.perfil.PerfilUser"
            android:exported="false" />
        <activity
            android:name=".view.lojaView.Compra.CompraItem"
            android:exported="false" />
        <activity
            android:name=".view.lojaView.Loja.AshieGames"
            android:exported="false" />
        <activity
            android:name=".view.Cadastro"
            android:exported="false" />
        <activity
            android:name=".view.Login"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>